/**/

.bg-glight {
  background-color: #fff;
}

.link-nav{
  cursor: pointer;
   font-family: 'Open Sans', sans-serif;

}

.text-gl{
  color: #4AB0A8;

}


.btn-standar{
  cursor: pointer;
  background-color: #3abc98;
  transition-duration: 0.2s;
  color: white;
  width: 100px;

}
.btn-standar:hover{
  background-color: #0081D9;
  transition-duration: 0.2s;
  color: white;
}

.btn-login{
  cursor: pointer;
  background-color: #3abc98;
  transition-duration: 0.2s;
  color: white;

}
.btn-login:hover{
  background-color: #0081D9;
  transition-duration: 0.2s;
  color: white;
}


#firstSection {
  padding-top:50px;
  height:640px;
}

#secondSection {
  padding-top:70px;
  height:640px;
  color: #fff; 
  background-color: #1E88E5;
}

#thirdSection {
  padding-top:70px;
  height:640px;
  color: #000; 
  background-color: #fff;
}

#fourtSection {
  padding-top:50px;
  height:640px;
  color: #fff; 
  background-color: #000;
}



